<a href="https://colab.research.google.com/github/kashaneja24/Learn_python/blob/main/challenge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
l=["ram",1,"shyam",2,"aman",3]
l=[str(i) for i in l]  #convert all numeric element in string

l.sort()
print(l)

l1=[]
for i in l:
  try:
    l1.append(int(i))
  except:
      l1.append(i)

print(l1)

['1', '2', '3', 'aman', 'ram', 'shyam']
[1, 2, 3, 'aman', 'ram', 'shyam']

In [ ]:
import time
t1=time.time()
for i in range(100000):
  for j in range(100000):
    x=900

t2=time.time()

print("total time:",t2-t1)